extends layout

block content
    h1 To Do List
    p Welcome to our To-Do App

    // Wrapper
    #wrapper

        // USER LIST
        h2 Task List
        #reminder
            ul
        #userList
            table
                thead
                    th TaskName
                    th Location
                    th Status
                    th Time
                    th Date
                tbody
        // /USER LIST


        // ADD task
        h2 Add Task
        #addTask
            fieldset
                input#inputTaskName(type='text', placeholder='Taskname')
                input#inputLocation(type='text', placeholder='Location')
                input#inputTime(type='time', placeholder="entertime")
                input#inputDate(type='date', placeholder="fordate")
                br
                button#btnAddTask Add Task
        // /ADD task

    // /WRAPPER
